.header {
    padding-block: 3rem;
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 30px;
}

.cta-btn{
    background-color: var(--clr-bg-btn-hover);
}